.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover,
  .nav-links .active-link {
    color: #04AA6D;
  }

  .nav-links .active-link::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: #04AA6D;
    transition: width 0.5s;
  }
  
  .nav-links .active-link:hover::after {
    width: 100%;
  }